
なんでやねん
abcde
<div class="c-card__mediaAction">
  <span class="c-card__mediaActionButton c-card__mediaActionButton--favorite js-favorite  is-active" data-product-id="14242833" data-active="false">お気に入り(minneからの引用)</span>
</div>
  <%= link_to "idが１の人", star_path(@stars.ids[0])%><br>
  <%= link_to "idが2の人", star_path(@stars.ids[1])%><br><br><br>

<%= render 'shared/header' %>
<%= render 'shared/search_head' %>
<%= render 'shared/addiction_card' %>
<%= render partial: 'shared/user_search_form', locals: { q: @q } %>



<!-- もし現在のユーザーがいいね!ボタンを押したら、表示する。
else,押さなかったら表示しない,みたいにしたい。今のままだと、
likes_countが１以上だと表示されちゃう。 -->