= render 'shared/header'
= render 'shared/head_jumbotron'
%br/
%br/
#like__detail-container.col-lg-12.col-md-12.col-sm-12.col-12
  .galleryHeader
    .galleryHeader__title
      = current_user.name
      GALLERY
  .c-tabNav
    %ul.c-tabNav__list
      %li.c-tabNav__item
        お気に入り
  %h2
    = current_user.name
    さんのお気に入りの未来像
  .album.py-5.bg-light.container
    .row
      - @addictions.each do |addiction|
        .col-lg-4.col-sm-6
          .addiction-card.card.mx-1.my-1
            = link_to(addiction_path(addiction.id), class: 'profile__card') do
              .card-main-image.box-shadow
                = image_tag(addiction.image)
              .card-body.p-3
                .card-left.col-md-3.p-0
                  .rounded-circle.image-icon
                    = image_tag(addiction.star.avatar,class: "")
                .card-right.col-md-9.p-0
                  .card-text.pl-2
                    %h4= addiction.title
                    %p{style:"-webkit-box-orient: vertical;"}= addiction.summary
