.jumbotron.jumbotron-fluid.mb-0
  = link_to root_path do
    .container.pt-xs-3.pt-lg-3
      %h1.display-4 mikke!
      %p.lead 未来の自分を探そう！
    .login-container
      #output
      .form-box
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .field
            = f.label :emailアドレス
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .actions
            %button.btn.btn-info.btn-block.login{:type => "submit"} パスワードのリセット
        = render "devise/shared/links"
