.container
  %footer.page-footer.font-small.pt-4
    .container-fluid.text-center.text-md-left
      .row
        .col-md-6.mt-md-0.mt-3
          %h5.text-uppercase お問い合わせ
          %p motoki_tabata@gmail.com
        %hr.clearfix.w-100.d-md-none.pb-3/
        .col-md-3.mb-md-0.mb-3
          %h5.text-uppercase 夢中になれる仕事を見つける
          %ul.list-unstyled
            %li
              = link_to "エ", "#"
            %li
              = link_to "ン", "#"
            %li
              = link_to "ジ", "#"
            %li
              = link_to "ニ", "#"
            %li
              = link_to "ア", "#"
        .col-md-3.mb-md-0.mb-3
          %h5.text-uppercase 夢中になれる趣味を見つける
          %ul.list-unstyled
            %li
              = link_to "プ", "#"
            %li
              = link_to "ロ", "#"
            %li
              = link_to "グ", "#"
            %li
              = link_to "ラ", "#"
            %li
              = link_to "ミ", "#"
            %li
              = link_to "ン", "#"
            %li
              = link_to "グ", "#"
    .footer-copyright.text-center.py-3
      © 2018 Copyright - 
      %a{href: "http://big-c.herokuapp.com/"} bigc.com
