.profile-card.pb-4.clearfix
  .card-top.col-lg-3
    .rounded-circle.image-icon
      = image_tag("#{@star.avatar}", class: "")
    .card-title
      %span=@star.name
    .card-title
      %span ( #{@star.occupation.name} )

  .card-bottom.col-xs-10.col-lg-9
    %a{"data-toggle" => "collapse", :href => "#collapse1", class: "seemore"}
      %ul.profile-list
        %li.basic-info
          %h4.mb-1 基本情報
          .list-contents
            .list-contents__left
              %p 生年月日：#{@star.birthday}
              %p 出身地　：#{@star.hometown.name}
              %p 兄弟姉妹：#{@star.sibling_position_i18n}
            .list-contents__right
              %p 家庭環境：#{@star.family_env_i18n}
              %p 経済状況：#{@star.economic_situation_i18n}
              %p 不登校　：経験#{@star.truancy_experience_i18n}
        %li
          %h5.mb-1 好きなこと・特技
          .list-contents
            - @star.speciality_tags.each do |speciality|
              %span.tag ##{speciality.name}
        %li
          %h5.mb-1 苦手なこと・悩み
          .list-contents
            - @star.worry_tags.each do |worry|
              %span.tag ##{worry.name}
    .panel-group
      .panel.panel-default
        #collapse1.panel-collapse.collapse
          %a{"data-toggle" => "collapse", :href => "#collapse1", class: "seemore"}
            %ul.profile-list.panel-body
              %li
                %h5.mb-1 学生時代の部活動
                .list-contents
                  %span.item #{@star.school_club.name}
              %li
                %h5.mb-1 好きだった教科
                .list-contents
                  - @star.like_subjects.each do |subject|
                    %span.item #{subject.name}
              %li
                %h5.mb-1 苦手だった教科
                .list-contents
                  - @star.dislike_subjects.each do |subject|
                    %span.item #{subject.name}
              %li
                %h5.mb-1 好きだった学校行事
                .list-contents
                  - @star.like_events.each do |event|
                    %span.item #{event.name}
              %li
                %h5.mb-1 苦手だった学校行事
                .list-contents
                  - @star.dislike_events.each do |event|
                    %span.item #{event.name}
              %li
                %h5.mb-1 学校内で好きだった場所
                .list-contents
                  - @star.like_places.each do |place|
                    %span.item #{place.name}
              %li
                %h5.mb-1 学校内で苦手だった場所
                .list-contents
                  - @star.dislike_places.each do |place|
                    %span.item #{place.name}
              %li
                %h5.mb-1 学校について
                .list-contents
                  %span.item #{@star.preference_for_school_i18n}
    %a{"data-toggle" => "collapse", :href => "#collapse1", class: "seemore"}
      %h4.mb-1#trriger-text.seemore-text もっとみる
