#user-modal.modal.fade{tabindex:"-1", role:"dialog", aria:{hidden:"true"}}
  .modal-dialog
    #modal_search_condition.modal-content
      .box_search_form
        %ul.search_tab_menu
          %li.tab_menu_item.is_current.w100p
            %a いろいろな項目から探す
        = search_form_for q, url:addictions_search_path, html:{id: 'search_condition_form'} do |f|
          .search_form_inner
            %table#search_condition_table.box_user_detail
              %tbody
                = render partial:"form_for_tags", locals: { category: "speciality",row_name: "speciality" }
                = render partial:"form_for_tags", locals: { category: "worry",row_name: "worry&weak" }
                = render partial:"select_boxes_for_other_tables", locals: { other_table: "school_club" }
                = render partial:"check_boxes_for_junction_tables", locals: { other_table: "school_event", junction_table: "stars_like_event" }
                = render partial:"check_boxes_for_junction_tables", locals: { other_table: "school_event", junction_table: "stars_dislike_event" }
                = render partial:"check_boxes_for_junction_tables", locals: { other_table: "school_subject", junction_table: "stars_like_subject" }
                = render partial:"check_boxes_for_junction_tables", locals: { other_table: "school_subject", junction_table: "stars_dislike_subject" }
                = render partial:"check_boxes_for_junction_tables", locals: { other_table: "school_place", junction_table: "stars_like_place" }
                = render partial:"check_boxes_for_junction_tables", locals: { other_table: "school_place", junction_table: "stars_dislike_place" }
                = render partial:"check_boxes_for_enum", locals: { enum: "preference_for_school" }
                = render partial:"radio_buttons_for_enum", locals: { enum: "truancy_experience", f:f }
                %tr
                  %th 年齢
                  %td#search-age.search_age
                    =f.select :birthday_to_age_gteq, options_for_select((18..65).map{|n| ["#{n}", n]}),{include_blank:"こだわらない"}, {class:"hasCustomSelect search-select-age"}
                    %span.customSelect
                      %span.customSelectInner こだわらない
                    %span 〜
                    =f.select :birthday_to_age_lteq, options_for_select((18..65).map{|n| ["#{n}", n]}), {include_blank:"こだわらない"}, {class:"hasCustomSelect search-select-age"}
                    %span.customSelect
                      %span.customSelectInner こだわらない
                = render partial:"select_boxes_for_other_tables", locals: { other_table: "hometown" }
                = render partial:"check_boxes_for_enum", locals: { enum: "gender" }
                = render partial:"check_boxes_for_enum", locals: { enum: "sibling_position" }
                = render partial:"check_boxes_for_enum", locals: { enum: "family_env" }
                = render partial:"check_boxes_for_enum", locals: { enum: "economic_situation" }
            %ul.box_serach_button
              %li.serach_button_item.w20p
                %button#cancelSearchConditionBtn.modal-close.button_a.button_white_a{type:"button", data:{dismiss:"modal"}} キャンセル
              %li.serach_button_item.w40p
                %button#submitSearchConditionBtn.button_a.button_blue_a{type: "submit",remote:true} この条件で検索する
