= render 'shared/header'
= render 'shared/head_jumbotron'
= render 'shared/search_head'
.introduction
  .introduction__box
    %h1 こんなサイトです！(youtube埋め込むのもあり)
.addictions
  .addictions__job
    .title
      %h2 仕事・活動
  = render 'shared/addiction_card'
  .addictions__hobby
    .title
      %h2 趣味・習い事
  = render 'shared/addiction_card'
  .addictions__browsed
    .title
      %h2 過去に見たもの
  = render 'shared/addiction_card'
= render partial: 'search_form', locals: { q: @q }
