<%= render partial: 'addictions/addictions', collection: @addictions, as: :addiction %>
  <%= link_to "idが１の人", addiction_path(@addictions.ids[0])%><br>
  <%= link_to "idが2の人", addiction_path(@addictions.ids[1])%><br><br><br>

<% @addictions.each do |addiction| %>
  <div class="sample">
  <% if addiction.likes_count >= 1 %>
  お気に入りしたストック一覧！！<%= link_to addiction.star.name, addiction_path(addiction.id)%>さんのページへ
  <% else %>
  <% end %>
</div>
<% end %>
<%= render 'shared/header' %>
<%= render 'shared/head_jumbotron' %>
<%= render 'shared/search_head' %>
<%= render 'shared/addiction_card' %>
<%= render partial: 'shared/user_search_form', locals: { q: @q } %>