= render 'shared/navbar'
.addiction-show
  .addiction-h_profile#profile
    %h1 プロフィール
  = render partial: 'profile_card', local: { star: @star }
  .addiction-show__body#summary
    .summary-title
      %i.fa.fa-lg.fa-star-o{"aria-hidden" => "true"}
      %i.fa.fa-2x.fa-star{"aria-hidden" => "true"}
      %i.fa.fa-lg.fa-star-o{"aria-hidden" => "true"}
      %h1 #{@addiction.title}
    .addiction-card
      .addiciton-img
        = image_tag("https://img.barks.jp/image/review/1000121850/h1.jpg")
      .addiction-content
        .addiction-text
          %p #{@addiction.summary}
      #addicted-points.addiction-content
        .addiction-h
          %h2 楽しいところ
        .addiction-text
          %p #{@addiction.addicted_points}
      #difficult-points.addiction-content
        .addiction-h
          %h2 大変なところ
        .addiction-text
          %p #{@addiction.difficult_points}
      #trigger.addiction-content
        .addiction-h
          %h2 ハマったきっかけ
        .addiction-text
          %p #{@addiction.trigger}
      #future-aim.addiction-content
        .addiction-h
          %h2 将来の目標
        .addiction-text
          %p #{@addiction.future_aim}
      #trying-things.addiction-content
        .addiction-h
          %h2 日々取り組んでいること
        .addiction-text
          %p #{@addiction.trying_things}
      #message.addiction-content
        .addiction-h
          %h2 メッセージ
        .addiction-text
          %p #{@addiction.message}
  .favorite-text.col-xs-9
    %p 一番上の お気に入り からいつでも見られるよ！
  .favorite.col-xs-3
    = render partial: 'likes/like', locals: {addiction: @addiction}

